<%-include("partials/header");%>
<h1>Compose</h1>
<form class="" action="/compose"  method="post">
<div class="form-group">
    <label>Title</label>
<input class="form-control" type="text"name="givetitle"  size="150">
<label>Post</label>
<textarea class="form-control" cols="30" rows="5" name="writingpage"></textarea>


</div>
<button name="button" class="btn btn-primary" type="submit" >Publish</button>
</form>

<%-include("partials/footer");%>
<!-- instead of using br tag try to use bootstrap framework 
and styling using css -->